Django>=5.0
djangorestframework
django-cors-headers
gunicorn
psycopg2-binary
dj-database-url
python-decouple
dotenv
django-cloudinary-storage
cloudinary
djangorestframework-simplejwt
django_extensions